
<!DOCTYPE html>
  <html>
  <head>
    {% load static %}
     <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
     <link rel="preconnect" href="https://fonts.gstatic.com">
     <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap" rel="stylesheet">
  </head>
    <body>
      <div class = "valorant-navbar">
        <p class = "valorant-page-title" style = "font-family: 'Noto Sans', sans-serif;"> STAT-TRACKER.COM</p>
        <p class = "valorant-leaderboard-button" style = "font-family: 'Noto Sans', sans-serif;"> LEADERBOARD</p>
        <p class = "valorant-input-button" style = "font-family: 'Noto Sans', sans-serif;"> INPUT STATS</p>
        <p class = "valorant-profile-button" style = "font-family: 'Noto Sans', sans-serif;"> YOUR PROFILE</p>
      </div>



    </body>
  </html>
